{% extends "admin/layout.twig" %}
{% block html_title %}Isepe Eventos - {{ parent() }}
{% endblock %}

{% set nav_active = 'certificates' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url }}/admin">Início</a></li>
  <li><a href="{{ base_url }}/admin/events">Eventos</a></li>
  <li class="active">Lista de Certificados</li>
</ol>
{% endblock %}

{% block content %}

<div class="card">
  {# Purple header #}
  <div class="card-header" data-background-color="purple">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h4 class="title">Lista de Certificados</h4>
      </div>
    </div>
  </div>

  {# Content of table #}
  <div class="card-content table-responsive">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-xs-12 col-sm-8 ">
            <div class="form-group">
              <label for="eventos">Evento:</label>
              <select id="select-eventos" class="form-control">
                {% for event in events if event.status == 1 %}
                  <option value="{{ event.id }}" {% if event.id == eventFeatured.id %} selected {% endif %}  >{{ event.name }}</option>

                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <input type="hidden" id="base_url" name="base_url" value="{{ base_url() }}">
              <input type="hidden" id="eventFeatured_id" name="eventFeatured_id" value="{{ eventFeatured.id }}">
              <a id="filtrar" href="{{ base_url() }}/admin/attendances/{{ eventFeatured.id }}" class="btn btn-info">Filtrar</a>
            </div>
          </div>
        </div>

      </div>


      <div class="col-sm-4 ">

        <div class="row">
          <div class="form-group">
            <label>Opções Certificados: </label>
            <button id="emit-all"  class="btn btn-success" data-toggle="modal" data-target="#modal-certificates-all">Emitir Certificados</button>
          </div>
        </div>


      </div>

    </div>
    {% if eventFeatured != null %}
      <table class="table">

        {# Header of table #}
        <thead class="text-primary">
          <th>
            Cód.
          </th>
          <th>
            Usuário
          </th>
          <th>
            Evento
          </th>
          <th>
            Data Emissão
          </th>
          <th>
            Carga Horária
          </th>


          <th>Certificado
          </th>

        </thead>

        <tbody>

          {% for subscription in subscriptions %}
            <tr>
              <td>{{ subscription.id }}</td>
              <td>{{ subscription.user_name }}</td>
              <td>{{ subscription.event_name }}</td>
              <td>{% if  subscription.is_certificate == 1 %} {{ subscription.date_certificate }}
                {% endif %}
                {% if subscription.is_certificate == 0 %} <p class="text-danger">Não Emitido</p> {% endif %}</td>
              <td> {% if subscription.workload == null %}
                  <p class="text-danger">Não definido</p>
                {% else %}
               {{ subscription.workload }}</td>
               {% endif %}
              }
              <td style="width: 150px;">
                <input type="hidden" name="id" value="{{ subscription.id }}">
                {% if  subscription.is_certificate == 1 %} <a id="view-certified" href="{{ base_url() }}/admin/certificates/view/{{ subscription.id }}" class="btn btn-success" >Ver Certificado</a>
                {% endif %}
                {% if subscription.is_certificate == 0 %} <p class="text-danger">Não Emitido</p> {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="row">
        <div class="col-xs-12">
          <div class="" style="padding-top:10px; padding-bottom:10px; margin-top: 10px; text-align:center;">Escolha um evento com inscrições efetivadas.</div>
        </div>
      </div>

    {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <ul class="pager">
          <li{% if page == 1 %} class="disabled"{% endif %}>
            <a{% if page > 1 %} href="{{ base_url() }}/admin/attendances?page={{ page - 1 }}"{% endif %}>Anterior</a>
          </li>
          <li{% if page >= amountPages %} class="disabled"{% endif %}>
            <a{% if page < amountPages %} href="{{ base_url() }}/admin/attendances?page={{ page + 1 }}"{% endif %}>Próximo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="modal-certificates-all" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Emissão de Certificados</h4>
      </div>
      <div id="modal-body" class="modal-body">
        <p id="modal-body-text"></p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

$(document).ready( function() {

  var value = $('#select-eventos').val();

  $('#filtrar').attr('href', '{{ base_url() }}/admin/certificates/' + value);

  $('#select-eventos').change( function () {
  value = $('#select-eventos').val();
    $('#filtrar').attr('href', '{{ base_url() }}/admin/certificates/' + value);


  });

});

$('#emit-all').click(function() {

  var base_url = $("#base_url").val();
  var eventFeatured_id = $("#eventFeatured_id").val();

  $.ajax({
    url: base_url + '/admin/certificates/emit/all/' + eventFeatured_id,

    beforeSend: function (data) {

      $("#modal-body-text").html('Aguarde...');

    },

    success: function (result) {


      $("#modal-body-text").html('Feito');


    },

    error: function (xhr,status,error) {
      $("#modal-body-text").html(xhr +  " " + status );

      console.log(xhr);
    }


  });

} );

</script>

{% endblock %}
