{% extends "layout.twig" %}
{% set nav_active = 'eventos' %}
{% block content -%}
<section class="blog-area section" style="padding-top:10px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="margin-bottom: 1px;">
        <ol class="breadcrumb" style="background-color: rgba(245, 245, 245, 0.53); text-align: left; margin-bottom: 1px;">
          <li><a href="{{ base_url }}/">Início</a></li>
          <li class="active">Eventos</li>
        </ol>

      </div>
    </div>
    <div class="row">
      <div class="card">
        {# Purple header #}
        <div class="card-header" data-background-color="purple">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="title">Últimos Eventos</h3>
            </div>

          </div>
        </div>
        {# Content of table #}
        <div class="card-content table-responsive">
          {% if events is not empty %}
            <table class="table" style="">
              <thead >
                <th class="text-primary" style="width:120px;"></th>
                <th style="text-align:center;">Nome:</th>
                <th style="text-align:center;">Inscrição:</th>
                <th style="text-align:center;">Data:</th>
                <th></th>
              </thead>
              <tbody>
                {% for event in events if event.status == 1 %}
                  <tr>
                    <td style="width:120px;"><img src="{{ base_url() }}/{{ event.img_featured }}" style="max-width:100%;"></td>
                    <td><p style="font-size:medium;">{{ event.name }}</p> </td>
                    <td><p style="font-size:medium;">{{ event.price }}</p></td>
                    <td> <p style="font-size:medium;" >{{ event.date_event }}</p></td>

                    {# TODO #}
                    <td style="width: 100px;">
                      <p>
                        <a class="btn btn-info btn-block" href="{{ base_url() }}/eventos/{{ event.id }}" style="margin-left: 0px; margin-top:2px; margin-right:0px;">
                                Detalhes
                        </a>
                      </p>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <h3>Não existem eventos disponíveis no momento.</h3>
          {% endif %}
        </div>
      </div>



    </div>
  </div>
</section>


{%- endblock %}
{% block javascripts %} {{ parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
