{% extends "admin/layout.twig" %}
{% block html_title %}Isepe Eventos - {{ parent() }}
{% endblock %}

{% set nav_active = 'certificates' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url }}/admin">Início</a></li>
  <li class="active">Eventos</li>
</ol>
{% endblock %}

{% block content %}

<div class="card">
  {# Purple header #}
  <div class="card-header" data-background-color="purple">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h4 class="title">Emissão de Certificados</h4>
      </div>

    </div>
  </div>

  {# Content of table #}
  <div class="card-content table-responsive">
    <table class="table">

      {# Header of table #}
      <thead class="text-primary">
        <th>
          Nome
        </th>
        <th>
          Descrição
        </th>
        <th>
          Preço
        </th>
        <th>
          Data
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
      </thead>

      <tbody>
        {% if events is not empty %}
          {% for event in events %}
            <tr>
              <td>{{ event.name }}</td>
              <td>{{ event.price }}</td>
              <td><p style="" >{{ event.date_event }}</p></td>
              <td style="width: 100px;">
                <p>
                  <a class="btn btn-info btn-block" href="{{ base_url() }}/admin/events/edit/{{ event.id_events }}">
                          Editar
                  </a>
                </p>
              </td>
              <td style="width: 100px;">
                {% if event.status %}
                  <p><a href="{{ base_url() }}/admin/events/disable/{{ event.id_events }}" class="btn btn-default btn-block">
                    Despublicar
                  </a></p>
                {% else %}
                  <p><a href="{{ base_url() }}/admin/events/enable/{{ event.id_events }}" class="btn btn-success btn-block">
                    Publicar
                  </a></p>
                {% endif %}
              </td>
              <td style="width: 100px;"><p><a class="btn btn-danger" href="{{ base_url() }}/admin/events/trash/send/{{ event.id_events }}">Lixeira</a></p></td>
            </tr>
          {% endfor %}
        {% else %}
          <div class="alert alert-warning" role="alert">Não existem eventos cadastrados</div>
        {% endif %}
      </tbody>
    </table>

    <div class="row">
      <div class="col-xs-12">
        <ul class="pager">
          <li{% if page == 1 %} class="disabled"{% endif %}>
            <a{% if page > 1 %} href="{{ base_url() }}/admin/certificates?page={{ page - 1 }}"{% endif %}>Anterior</a>
          </li>
          <li{% if page >= amountPages %} class="disabled"{% endif %}>
            <a{% if page < amountPages %} href="{{ base_url() }}/admin/certificates?page={{ page + 1 }}"{% endif %}>Próximo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
